.d-flex{
    display: flex
}

.flex-1{
    flex: 1;
}
.hide { display: none; }

.text-center {
    text-align: center;
}

.d-block{
    display: block;
}

.font-weight-200{
    font-weight: 200;
}
.font-weight-100{
    font-weight: 100;
}

.btn {
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 0;
}

.ms-20{
    margin-left: 20px;
}

.p-relative{
    position: relative;
}

.bg-primary{
    background-color: var(--primary);
}

.bg-secondary{
    background-color: var(--secondary);
}
.bg-light-primary{
    background-color: var(--lightPrimary);
}

.bg-pink{
    background-color: var(--pink);
}

.bg-primary{
    background: var(--primary);
}

.text-white{
    color: white !important;
}