.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.font-weight-200 {
  font-weight: 200;
}
.font-weight-100 {
  font-weight: 100;
}

.btn {
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 0;
}

.ms-20 {
  margin-left: 20px;
}

.ms-10 {
  margin-left: 10px;
}
.me-10 {
  margin-right: 10px;
}

.p-relative {
  position: relative;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}
.bg-light-primary {
  background-color: var(--lightPrimary);
}

.bg-gray {
  background: var(--gray);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-primary {
  background: var(--primary);
}

.text-white {
  color: white !important;
}

.w-100 {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.gap-10 {
  gap: 10px;
}

hr {
  border: 1px solid rgb(255, 255, 255, 0.1);
}
.first-letter {
  display: inline-block;
  text-transform: lowercase;
}
.first-letter::first-letter {
  text-transform: uppercase;
  font-size: 48px;
}

.bottom-text {
}
.bottom-text:after {
  content: "***";
  font-size: 36px;
  color: #949494;
}

.p-10 {
  padding: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}
